<%= form_with(model: menuitem, local: true) do |form| %>
  <% if menuitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menuitem.errors.count, "error") %> prohibited this menuitem from being saved:</h2>

      <ul>
      <% menuitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menuitemID %>
    <%= form.number_field :menuitemID, id: :menuitem_menuitemID %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :menuitem_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :menuitem_price %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :menuitem_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
