<p id="notice"><%= notice %></p>

<p>
  <strong>Menuitemid:</strong>
  <%= @menuitem.menuitemID %>
</p>

<p>
  <strong>Name:</strong>
  <%= @menuitem.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menuitem.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menuitem.description %>
</p>

<%= link_to 'Edit', edit_menuitem_path(@menuitem) %> |
<%= link_to 'Back', menuitems_path %>
